<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="header :: copy">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account details</title>
</head>

<body>
<div class="container">
    <div class="starter-template">
        <h1>Account Details</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Account id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="account.html"
                       th:href="@{|/${account.id}|}"
                       th:text="|${account.id}|"></a>
                </td>

                <td th:text="${account.firstName}">First Name</td>
                <td th:text="${account.lastName}">Last Name</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>